{% extends 'layout/inherit.html' %}

{% block title %}Thong ke so luong HS{% endblock %}


{% block mycontent %}
<h1 class="text-center text-info" style="padding-top: 20px">BÁO CÁO TỔNG KẾT MÔN HỌC</h1>
<br><br>
<div class="row" style="width:90%">
    <div class="col-md-6 col-xs-12">
        <table class="table text-center" id="customers">
            <tr>
                <th colspan="2">Môn: Toán</th>
                <th colspan="2">Học kì I</th>
            </tr>
            <tr>
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỉ lệ</th>
            </tr>
            {% for s in stats1 %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td> {{ "{:,.1f}".format(s[3]) }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
          <canvas id="myScoreChart1"></canvas>
    </div>
</div>

<br><br>
<div class="row" style="width:90%">
    <div class="col-md-6 col-xs-12">
        <table class="table text-center" id="customers">
            <tr>
                <th colspan="2">Môn: Văn</th>
                <th colspan="2">Học kì I</th>
            </tr>
            <tr>
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỉ lệ</th>
            </tr>
            {% for s in stats2 %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td> {{ "{:,.1f}".format(s[3]) }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
          <canvas id="myScoreChart2"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels1 = [], labels2 = []
    let data1 = [], data2 = []
    let colors1 = [], colors2 = []
    let borderColors1 = [], borderColors2 = []
    let r, g, b;

    {% for s in stats1 %}
            labels1.push('{{ s[0] }}')
            data1.push({{ s[3] }})

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors1.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
            borderColors1.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    {% for s in stats2 %}
            labels2.push('{{ s[0] }}')
            data2.push({{ s[3] }})

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors2.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
            borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('myScoreChart1').getContext('2d');
        displayChart(ctx, 'bar', labels1, data1, colors1, borderColors1)

        const ctx2 = document.getElementById('myScoreChart2').getContext('2d');
        displayChart(ctx2, 'bar', labels2, data2, colors2, borderColors2)
    }

    function displayChart(ctx, typeChart, labels, data, colors, borderColors) {
        const myChart = new Chart(ctx, {
            type: typeChart,
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thống kê kết quả học tập',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
<br><br>
{% endblock %}
